@model ForcedDemo.Areas.Dashboard.ViewModels.ActivityListingModel

@if (Model != null && Model.Activities != null && Model.Activities.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Activity Type</th>
                <th scope="col">Fee Per Visit</th>
                <th scope="col">Venue Capacity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var activities in Model.Activities)
            {
                <tr>
                    <td>
                        @activities.ActivityName
                    </td>
                    <td>
                        @if (activities.ActivityType != null)
                        {
                            @activities.ActivityType.Name
                        }
                    </td>
                    <td>
                        @activities.Capacity
                    </td>
                    <td>
                        @activities.ActivityPrice
                    </td>
                    <td>
                        <button data-href="@Url.Action("Action", "Activities", new { ID = activities.ActivitiesId})" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i>Edit</button>
                        <button data-href="@Url.Action("Delete", "Activities", new { ID = activities.ActivitiesId})" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="far fa-trash-alt mr-1"></i>Delete</button>

                        @*<button data-href="@Url.Action("Availability", "AccomodationPackages", new { ID = accomodationPackage.ID})" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-date mr-1"></i>Availability</button>
                            <button data-href="@Url.Action("UpcomingAppointments", "AccomodationPackages", new { ID = accomodationPackage.ID})" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-date mr-1"></i>UpcomingAppointments</button>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>


    if (Model.Pager.EndPage > 1)
    {

        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Activities")">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Activities", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, activityTypeID = Model.ActivityTypeID})"><i class="fas fa-angle-left"></i></a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index","Activities", new { page = page, searchTerm = Model.SearchTerm, activityTypeID = Model.ActivityTypeID})">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Activities", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm, activityTypeID = Model.ActivityTypeID})"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Activities", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm, activityTypeID = Model.ActivityTypeID})"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                }
            </ul>
        </nav>
    }
}

else
{
    <div class="alert alert-warning" role="alert">
        Sorry! There are no available records.
    </div>
}