@model IEnumerable<ForcedDemo.Models.ActBooking.ActivityTime>

@{
    ViewBag.Title = "ActivityBooking";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        height: 250px !important;
        margin-bottom: 20px !important;
        border: groove !important;
    }

        .card:hover {
            border-radius: 10px;
            border-color: aqua !important;
        }
</style>
@if (Model.Count() == 0)
{
    <h2 style="text-align:center; padding-bottom:20px !important">No Available Activities</h2>
}
else
{
    <h2 style="text-align:center; padding-bottom:20px !important">Available Activities</h2>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Activity Type : @Html.DisplayFor(x => item.Activities.ActivityName)</h4>
                            <p class="card-text">Price : @Html.DisplayFor(x => item.Activities.ActivityPrice)</p>
                            <p class="card-text">Time : @Html.DisplayFor(x => item.ActivityTimes.SlotTime)</p>
                            <p class="card-text">
                                <h5>Desciptiom  </h5>
                                @Html.DisplayFor(x => item.Activities.Description)
                            </p>
                            <p><a class="btn btn-default" onclick="location.href='@Url.Action("Create","ActivityBooking", new { id=item.ActivityTimeId})'">Book Activity </a></p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


}
