@model ForcedDemo.ViewModels.EventViewModel



@if (Model.AccomodationTypes != null && Model.AccomodationTypes.Count() > 0)
{
    var i = 0;

    <div id="colorlib-rooms" class="colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>Accomodation Types</h2>
                    <p>Select Accomodation Type</p>
                    <p>
                        @foreach (var accomodationType in Model.AccomodationTypes)
                        {
                            <button class="btn btn-sm changeAccomodationType" data-id="@accomodationType.ID">
                                @accomodationType.Name
                            </button>
                        }
                    </p>
                </div>
            </div>

            @foreach (var accomodationType in Model.AccomodationTypes)
            {
                <div data-id="@accomodationType.ID" class="row accomodationTypesRow" style="@(i !=0 ? "display:none" : string.Empty)">
                    <div class="col-md-12 animate-box">
                        <div class="owl-carousel owl-carousel2">

                            @foreach (var accomodationPackage in Model.AccomodationPackages.Where(x => x.AccomodationTypeID == accomodationType.ID))
                            {
                                var thumbnailPicture = accomodationPackage.AccomodationPackagePictures != null && accomodationPackage.AccomodationPackagePictures.Count > 0 ? accomodationPackage.AccomodationPackagePictures.First() : new ForcedDemo.Entities.AccomodationPackagePicture();
                                var thumbnailURL = thumbnailPicture.Picture != null ? thumbnailPicture.Picture.URL : "default-image.jpg";

                                <div class="item">
                                    <a href="@Url.Action("Details","Accomodations", new { area = "", accomodationPackageID = accomodationPackage.ID})" class="room" style="background-image: url(/images/site/@thumbnailURL);"></a>
                                    <div class="desc text-center">
                                        <h3>
                                            <a href="@Url.Action("Details","Accomodations", new { area = "", accomodationPackageID = accomodationPackage.ID})">
                                                @accomodationPackage.Name
                                            </a>
                                        </h3>
                                        <p class="price">
                                            @accomodationPackage.FeePerDay
                                        </p>
                                        <p><a class="btn btn-primary btn-book" href="/PackageTimer/Index">Book now!</a></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 text-center animate-box">
                        <a href="#">View all rooms <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>

            }

        </div>
    </div>
    i++;
}
<script src="~/Scripts/site.js"></script>